@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular-webfont.eot');
    src: url('../fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}